Repository dhruv8433/enews-web-app, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, components, styles, utils, config, tests, docs

.github/labeler.yml:

# Label for changes in Next.js project using TypeScript (TSX only)

pages:
  - "pages/**/*.tsx"

components:
  - "components/**/*.tsx"

styles:
  - "styles/**/*.css"
  - "styles/**/*.scss"

utils:
  - "utils/**/*.ts"

config:
  - "next.config.js"
  - "tsconfig.json"

tests:
  - "__tests__/**/*.test.tsx"
  - "__tests__/**/*.test.ts"
  - "jest.config.js"

docs:
  - "*.md"
  - "docs/**"

update docker file
  dockerfile
Labels: none

add loading on signup and login from react-spinner
  app/overlays/LoginModal.tsx
  app/overlays/SignupModal.tsx
  package-lock.json
  package.json
Labels: none

remove comments
  app/components/navbar/Navbar.tsx
  app/hooks/useFetchFavorites.ts
  app/query/page.tsx
Labels: none

update global css
  app/globals.css
Labels: none

update horizontal card design for profile page and responsive section
  app/common/HorizontalCard.tsx
Labels: none

use grid for side by side card layout
  app/components/profile/UserFavs.tsx
  app/components/profile/UserReadLater.tsx
Labels: none

update home page
  app/page.tsx
Labels: none

update swiper card
  app/common/SwiperCard.tsx
Labels: none

comment model issue of success toast solve
  app/common/CommentModel.tsx
Labels: none

Update README.md
  README.md
Labels: docs

add range slider to change font size of description
  app/common/ArticleInfo.tsx
Labels: none

remove typo
  app/common/ArticleInfo.tsx
Labels: none

remove unnecassary imports
  app/common/ArticleInfo.tsx
Labels: none

update card #swiper
  app/common/SwiperCard.tsx
  app/components/home/CareerSection.tsx
  app/components/home/HomeSwiper.tsx
Labels: none

implement lazy loading
  app/common/LazyComponent.tsx
  app/page.tsx
Labels: none

create theme and theme provider wrapper for whole website 🎨
  app/util/ThemeProvideWrapper.tsx
  app/util/theme.ts
Labels: none

wrap whole layout with theme
  app/layout.tsx
Labels: none

update globals css
  app/globals.css
Labels: none

detailed page theming
  app/common/ArticleBreadCrumb.tsx
  app/common/ArticleInfo.tsx
  app/common/LikeButton.tsx
Labels: none

create common div that we reuse
  app/common/MyDiv.tsx
Labels: none

update and add theme in my heading 🎨
  app/common/MyHeading.tsx
Labels: none

add theme in horizontal, long and small card 🎨
  app/common/HorizontalCard.tsx
  app/common/LongCard.tsx
  app/common/SmallCard.tsx
Labels: none

update navbar and add theme icon on that click one popup open for choosing theme based on user prefrence 🎨
  app/components/navbar/Navbar.tsx
Labels: none

update list container
  app/common/ListContainer.tsx
Labels: none

update theming of swiper card and weather card add gradient 🎨
  app/common/SwiperCard.tsx
  app/common/WeatherCard.tsx
Labels: none

add theme in profile route 🎨
  app/common/ProfileRoutes.tsx
  app/components/profile/UserFavs.tsx
  app/components/profile/UserReadLater.tsx
Labels: none

try to resolve deployment error
  .eslintrc.json
  app/common/ErrorComponent.tsx
  app/common/GoogleButton.tsx
  app/common/ProfileRoutes.tsx
  app/common/RelatedNews.tsx
  app/common/WeatherCard.tsx
  app/components/footer/Footer.tsx
  app/components/profile/UserFavs.tsx
  app/layout.tsx
  app/overlays/LoginModal.tsx
  app/overlays/SignupModal.tsx
  app/page.tsx
  app/profile/[option]/page.tsx
  app/service/Auth.Firebase.ts
  app/site/site.config.ts
  package-lock.json
  package.json
Labels: none

resolve type error
  app/common/LazyComponent.tsx
  app/common/ReadLaterButton.tsx
  app/common/RelatedNews.tsx
  app/hooks/useHeadlines.ts
  app/hooks/useWeather.ts
Labels: none

resolve type errors
  app/common/LikeButton.tsx
  app/common/ReadLaterButton.tsx
  app/common/RelatedNews.tsx
  app/common/WeatherCard.tsx
  app/components/home/HomeSwiper.tsx
  app/components/navbar/Navbar.tsx
  app/components/profile/UserReadLater.tsx
  app/hooks/useFirebaseAuth.ts
  app/hooks/useWeather.ts
  app/layout.tsx
  app/types/comment.type.ts
  app/types/input.types.ts
  app/types/navicon.types.ts
  app/types/weather.type.ts
  app/util/ThemeProvideWrapper.tsx
  app/util/theme.ts
Labels: none

resolve deployment error
  app/common/ProfileRoutes.tsx
  app/components/navbar/Navbar.tsx
  app/util/ThemeProvideWrapper.tsx
Labels: none

resolve types and add types for headline
  app/common/ArticleBreadCrumb.tsx
  app/common/LazyComponent.tsx
  app/common/ProfileRoutes.tsx
Labels: none

remove eslint
  .eslintrc.json
  package-lock.json
  package.json
Labels: none

update date type
  app/common/DetailedNews.tsx
  package-lock.json
  package.json
Labels: none

final modification
  .babelrc
  app/common/ProfileRoutes.tsx
  tsconfig.json
Labels: config

remove bable
  .babelrc
Labels: none

resolve all errors
  .dockerignore
  .eslintrc.json
  Acornfile
  app/components/navbar/Navbar.tsx
  dockerfile
  package-lock.json
  package.json
  tsconfig.json
Labels: config

update color and add more theme
  app/util/theme.ts
Labels: none

store theme value in golbals variables
  app/util/ThemeProvideWrapper.tsx
Labels: none

update detailed news page and add theme 🎨
  app/common/ArticleBreadCrumb.tsx
  app/common/ArticleInfo.tsx
  app/common/DetailedNews.tsx
Labels: none

update comment card and add theme 🎨
  app/common/CommentCard.tsx
Labels: none
